.header {
    position: relative;
    padding: 15px;
    color: #333;
    text-align: center;
    font-weight: normal;
    font-size: 32px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.header img {
    position: relative;
    top: 6px;
    padding: 0 14px;
}
