.button_component {
    display: inline-flex;
    width: 25%;
    flex: 1 0 auto;
}

.button_component.wide {
    width: 50%;
}

.button_component button {
    background-color: #E0E0E0;
    border: 0;
    font-size: 12px;
    margin: 0 1px 0 0;
    flex: 1 0 auto;
    padding: 0;
}

.button_component:last-child button {
    margin-right: 0;
}

.button_component.orange button {
    background-color: #F5923E;
    color: white;
}

@media (min-width: 200px) and (min-height: 200px) {
    .button_component button {
        font-size: 25px;
    }
}

@media (min-width: 300px) and (min-height: 300px) {
    .button_component button {
        font-size: 30px;
    }
}

@media (min-width: 400px) and (min-height: 400px) {
    .button_component button {
        font-size: 35px;
    }
}

@media (min-width: 500px) and (min-height: 500px) {
    .button_component button {
        font-size: 40px;
    }
}

@media (min-width: 600px) and (min-height: 600px) {
    .button_component button {
        font-size: 60px;
    }
}

@media (min-width: 800px) and (min-height: 800px) {
    .button_component button {
        font-size: 70px;
    }
}
